.heading {
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 27px;
}

.input-group input {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  font-size: 17px;
}

.input-group .submit-btn {
  width: 50px;
  height: 30px;
  margin-top: 10px;
  font-size: 17px;
}